@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}


body {
    background: url(../public/fone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@font-face {
    font-family: "DejaVu Sans ExtraLight"; 
    src: url("/public/font/DejaVu Sans ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "MADEGoodTimeScript";
    src: url("/public/font/MADEGoodTimeScript.ttf") format("truetype");
}
